body, html{
    font-family: fantasy, sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font-weight: 800;
    font-size: 50px;
}

h2{
    font-weight: 300;
    font-size: 45px;
}

.fellowship-banner h1{
    color: white;
    margin: 14px 0 20px;
}

h4{
    font-weight: bold;
    font-size: 20px;

}

.fellowship-banner h4,
.fellowship-banner h4 a{
    color: white;
    margin: 0;
}

h3{
    font-weight: bold;
    font-size: 30px;
}

.fellowship-banner h3{
    color: white;
    margin: 0 0 35px;
}

.fellowship-banner{
    background: linear-gradient(green,blue);
    min-height: 80vh;
    padding: 50px 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.character1{
    background: url('../img/aragorn1.png') no-repeat 0 0;
    background-size: 100%;
    width: 368px;
    height: 543.5px;
    position: absolute; top: 50px; right: 200px;
}

.character2{
    background: url('../img/frodo.png') no-repeat 0 0;
    background-size: 100%;
    width: 420px;
    height: 415px;
    position: absolute; top: 150px; right: 300px;
}

.character3{
    background: url('../img/gandalf.png') no-repeat 0 0;
    background-size: 100%;
    width: 364px;
    height: 398.5px;
    position: absolute; top: 250px; right: 175px;
}

a.cta,
button.cta{
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: blue;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0,127,255,.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
}


a.cta:active,
button.cta:active{
    opacity: .7;
}

a.cta.alt,
button.cta.alt{
    background-color: red;
    box-shadow: 0 0 0 10px rgba(0,0,0,.15);
    color: black;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

.wrapper2{
    width: 1000px;
    margin: 0 auto;
}

/* All of the above coding is for the following HTML banner...

 <div class="fellowship-banner">
            <div class="wrapper">
                <h4>J.R.R. Tolkien presents <a href="https://lotr.fandom.com/wiki/Fellowship_of_the_Ring_(group)">The Fellowship of the Ring</a></h4>
                <h1>The Greatest of All the <br> 
                    Races of Middle-earth <br> 
                    Together to Defeat Sauron</h1>
                    <h3>Four hobbits, two men, an elf, a dwarf, &amp; a wizard.<br>
                        None can stop them... except themselves.<br>
                        <a class="cta alt" href="#read-more">Read More</a>
                    </h3>
            </div>
                <div class="character1"></div>
                <div class="character2"></div>
                <div class="character3"></div>
        </div>
*/

nav{
    height: 100px;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .logo{
    display: block;
    width: 358px;
    height: 84px;
    position: absolute; top: 50%; left: 30px;
    margin-top: -40px;
    background: url('../img/lotr-logo.png') no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    text-indent: -999px;
}

nav ul{
    padding: 0;
    margin: 0 20px 0 0;
}

nav ul li{
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}

nav ul li a{
    display: block;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #111111;
    text-decoration: none;
    padding: 35px 10px;
    line-height: 30px;
}

/*All of the above coding is for the nav bar...

<nav>
<a href="#" class="logo">The Fellowship</a>
<ul>
    <li><a href="#">Sign Up!</a></li>
    <li><a href="#fellows">Fellows</a></li>
    <li><a href="#read-more">More Info</a></li>
</ul>
*/

.more-info{
    text-align: center;
}

p{
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0;
}

.more-info p{
    margin: 18px 0 35px;
}

.more-info h2{
    margin: 60px 0 0 0;
}

.highlight{
    background-color: green;
    color: white;
    padding: 8px 8px 0 8px;
    line-height: 50px;
    display: inline;
    font-weight: bolder;
}

/* All of the above coding is for the read-more section...

        <div class="more-info" id="read-more">
            <h2>Join the Fellowship</h2>
            <p>The Fellowship is comprised of 9 members. They are bold and brave and courageous, and have set out to destroy <span class="highlight"> Ring of Power.</span> Think you have what it takes to join the Fellowship of the Ring?</p>
            <button class="cta">Sign Me Up!</button>
        </div>

*/

.sep{
    width: 470px;
    height: 10px;
    background-color: #111111;
    margin: 70px auto;
}

.nb-list{
    width: 445px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    background-color: lightgray;
    float: left;
    margin: 0 50px 25px 0;
    position: relative;
}
.fellows h3{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.nb-list li{
    height: 70px;
    border-radius: 10px;
    font-size: 36px;
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.nb-list li.gray{background-color: black;}
.nb-list li.nothing{background-color: #fff;}
.nb-list li.blue{
    background-color: blue;
    color: #111111;
}
.nb-list li.green{background-color: green;}
.nb-list li.brown{background-color: brown;}
.nb-list li.red{background-color: red;}
.nb-list li.yellow{background-color: yellow;}

.nb-list li.dragging{
    position: absolute;
    top: 90px;
    left: 70px;
    right: -50px;
    transform: rotate(6deg);
    box-shadow: 0 2px 14px rgba(0,0,0,.3);
}

.nb-list li.dragging:after{
    content:'';
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('../img/pointer.png') no-repeat 0 0;
    background-size: 100%;
    bottom: -30px;
    left: 85%;
    transform: rotate(-30deg);
}

.fellowship-image{
    display: block;
    margin: 0 auto;
}

footer{
    text-align: center;
    color: rgba(0,0,0,.4);
    font-size: 20px;
    margin: 85px 0 45px;
    font-weight: bold;
}

footer a{
    color: rgba(0,0,0,.4);
}

/* All of the above coding is for the separator and the Team section...

 <div class="sep">
        </div>

        <div class="fellows" id="fellows">
            <ul class="nb-list">
                <li class="gray">Gandalf the Grey</li>
                <li>&nbsp;</li>
                <li class="blue dragging">Aragorn II Elessar</li>
                <li class="green">Legolas Greenleaf</li>
                <li class="brown">Gimli son of Gloin</li>
                <li class="red">Boromir son of Denethor</li>
                <li class="yellow">Frodo Baggins</li>
                <li class="gray">Samwise Gamgee</li>
                <li class="blue">Meriadoc Brandybuck</li>
                <li class="green">Peregrin Took</li>
            </ul>
            <h3>What you need to know<br>
                About the Team</h3>
                <p>Formed after the Council of Elrond, the Fellowship consisted of nine members: four Hobbits, two Men, one Elf, one Dwarf, and one Wizard. It was the only known organisation ever formed in the history of Middle-earth to hold members of each of these races within it (and with the departure of the Elves and the Wizards from Middle-earth, there would never be another like it), who largely lived and acted independently of one another.</p>
                <p>This number was chosen to match the number of Ringwraiths, or Nazgûl. Merry and Pippin were never intended to be a part of the Fellowship, with Elrond initially considering two Elf-lords from his own house. He wished to send the two younger hobbits back to the Shire as messengers to warn other Hobbits of the growing evil. However, the Halflings persevered: Merry was chosen and Gandalf convinced Elrond of the loyalty of Pippin.</p>
                <p>Fellowship of the Ring was formed by Elrond after the Council of Elrond. The Fellowship, being led mainly by Gandalf, headed down the path to Mordor.</p>
        </div>

*/

.popup{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;

}

.popup.show{
    display: block;
}

.popup .blanket{
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

.popup .content{
    box-sizing: border-box;
    position: absolute;
    width: 960px;
    height: 500px;
    padding: 30px 40px;
    background-color: white;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-top: -250px;;
    margin-left: -480px;
}

.popup h2{
    margin: 10px 0 20px;
}

.popup .close{
    width: 80px;
    height: 80px;
    background: url('../img/close-button.png') no-repeat center center;
    background-size: 50%;
    position: absolute;
    top: -40px;
    right: -40px;
    border-radius: 50%;
    border: none;
    outline: none;
    overflow: hidden;
    text-indent: -999px;
    cursor: pointer;
}

.popup .cta{
    margin-top: 40px;
}

.popup .row::after{
    content: '';
    display: table;
    clear: both;
}


.popup .item{
    float: left;
    width: 400px;
    margin-left: 40px;
    text-align: left;
}

.popup .item:first-child{
    margin-left: 0;
}

.popup .item label{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.popup .item input[type='text']{
    display: block;
    font-size: 30px;
    font-weight: bold;
    border: 4px solid #111111;
    height: 70px;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
}


/* All of the above coding is for the popup...

    <div class="popup">
        <div class="blanket"></div>
        <div class="content">
            <h2>Enter your Information</h2>
            <form action="">
                <div class="item">
                    <label>First Name</label>
                    <input type="text" placeholder="Annatar" value="Tom">
                </div>
                <div class="item">
                    <label>Last Name</label>
                    <input type="text" placeholder="Notsauron">
                </div>
                <div class="item">
                    <label>Favorite Color</label>
                    <input type="text" placeholder="Black">
                </div>
                <div class="item">
                    <label>Favorite Hobby</label>
                    <input type="text" placeholder="Ringmaking">
                </div>
                <button class="cta">Let's Do This!</button>
            </form>
            <button class="close">Close</button>
        </div>
    </div>

*/