body, html{
    font-family: fantasy, sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font-weight: 800;
    font-size: 50px;
}

h2{
    font-weight: 300;
    font-size: 45px;
}

.fellowship-banner h1{
    color: white;
    margin: 14px 0 20px;
}

h4{
    font-weight: bold;
    font-size: 20px;

}

.fellowship-banner h4,
.fellowship-banner h4 a{
    color: white;
    margin: 0;
}

h3{
    font-weight: bold;
    font-size: 30px;
}

.fellowship-banner h3{
    color: white;
    margin: 0 0 35px;
}

.fellowship-banner{
    background: linear-gradient(red,blue);
    min-height: 80vh;
    padding: 50px 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.character1{
    background: url('../img/aragorn1.png') no-repeat 0 0;
    background-size: 100%;
    width: 368px;
    height: 543.5px;
    position: absolute; top: 50px; right: 75px;
}

.character2{
    background: url('../img/frodo.png') no-repeat 0 0;
    background-size: 100%;
    width: 420px;
    height: 415px;
    position: absolute; top: 150px; right: 200px;
}

.character3{
    background: url('../img/gandalf.png') no-repeat 0 0;
    background-size: 100%;
    width: 364px;
    height: 398.5px;
    position: absolute; top: 250px; right: 50px;
}

a.cta,
button.cta{
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: blue;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0,127,255,.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
}

a.cta.alt,
button.cta.alt{
    background-color: red;
    box-shadow: 0 0 0 10px rgba(0,0,0,.15);
    color: black;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

/* All of the above coding is for the following HTML banner...

 <div class="fellowship-banner">
            <div class="wrapper">
                <h4>J.R.R. Tolkien presents <a href="https://lotr.fandom.com/wiki/Fellowship_of_the_Ring_(group)">The Fellowship of the Ring</a></h4>
                <h1>The Greatest of All the <br> 
                    Races of Middle-earth <br> 
                    Together to Defeat Sauron</h1>
                    <h3>Four hobbits, two men, an elf, a dwarf, &amp; a wizard.<br>
                        None can stop them... except themselves.<br>
                        <a class="cta alt" href="#read-more">Read More</a>
                    </h3>
            </div>
                <div class="character1"></div>
                <div class="character2"></div>
                <div class="character3"></div>
        </div>
*/

nav{
    height: 100px;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
}

nav .logo{
    display: block;
    width: 358px;
    height: 84px;
    position: absolute; top: 50%; left: 30px;
    margin-top: -40px;
    background: url('../img/lotr-logo.png') no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    text-indent: -999px;
}

nav ul{
    padding: 0;
    margin: 0 20px 0 0;
}

nav ul li{
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}

nav ul li a{
    display: block;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #111111;
    text-decoration: none;
    padding: 35px 10px;
    line-height: 30px;
}

/*All of the above coding is for the nav bar...

<nav>
<a href="#" class="logo">The Fellowship</a>
<ul>
    <li><a href="#">Sign Up!</a></li>
    <li><a href="#fellows">Fellows</a></li>
    <li><a href="#read-more">More Info</a></li>
</ul>
*/

.more-info{
    text-align: center;
}

p{
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0;
}

/*A ll of the above coding is for the read-more section...

        <div class="more-info" id="read-more">
            <h2>Join the Fellowship</h2>
            <p>The Fellowship is comprised of 9 members. They are bold and brave and courageous, and have set out to destroy <span class="highlight"> Ring of Power.</span> Think you have what it takes to join the Fellowship of the Ring?</p>
            <button class="cta">Sign Me Up!</button>
        </div>

*/